/* Product */
.product {
  margin-top: -40px;
}

.product-wrapper {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  max-height: 100vh;
}

.product-img {
  width: 100%;
  max-width: 500px;
  max-height: 500px;
}

.product-img__txt {
  z-index: 8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 150px;
  font-weight: 600;

  -webkit-text-stroke: 3px var(--white);

  color: transparent;
  text-transform: uppercase;
}

.product-img__text {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 150px;
  font-weight: 600;

  text-transform: uppercase;
}

.product-img img {
  animation: hoverAnim 4s infinite ease-in-out;
}

.product-info {
  z-index: 9;
  position: absolute;
  max-width: 450px;

  display: flex;
  align-items: last baseline;
  gap: 100px;

  left: 30%;
  bottom: 0;
}

.product-info__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.product-name {
  padding: 5px 10px;
  border-radius: 5px;

  font-size: 24px;
  font-weight: 600;

  background-color: var(--black);
}

.product-price {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: 'IBM Plex Mono', monospace;
}

.product-desc {
  font-size: 18px;
  font-weight: 500;
  color: var(--gray);
}

/* Keyframes */
@keyframes hoverAnim {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* Media */
@media screen and (max-width: 630px) {
  .product-img {
    max-width: 300px;
    max-height: 300px;
  }

  .product-img__txt {
    font-size: 80px;
    -webkit-text-stroke: 1px var(--white);
  }

  .product-img__text {
    font-size: 80px;
    -webkit-text-stroke: 1px var(--white);
  }

  .product-info {
    max-width: 320px;
    gap: 50px;
    left: 25%;
  }

  .product-price {
    font-size: 16px;
  }

  .product-name {
    padding: 5px;
    font-size: 18px;
  }

  .product-price {
    font-size: 16px;
  }

  .product-desc {
    font-size: 14px;
  }
}

@media screen and (max-width: 430px) {
  .product-wrapper {
    height: 300px;
  }

  .product-img {
    max-width: 220px;
    max-height: 220px;
  }

  .product-img__txt {
    font-size: 60px;
    -webkit-text-stroke: 1px var(--white);
  }

  .product-img__text {
    font-size: 60px;
    -webkit-text-stroke: 1px var(--white);
  }

  .product-info {
    max-width: 320px;
    gap: 50px;
    left: 15%;
  }

  .product-name {
    font-size: 16px;
  }

  .product-price {
    font-size: 14px;
  }

  .product-desc {
    font-size: 12px;
  }
}

@media screen and (max-width: 355px) {
  .product-name {
    font-size: 14px;
  }

  .product-price {
    font-size: 12px;
  }

  .product-desc {
    font-size: 10px;
  }
}