@import 'reset.css';
@import 'vars.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

html, body {
  overflow: hidden;
}

body {
  color: var(--white);
  background-image: var(--background-1);
  font-family: 'IBM Plex Sans', sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
}

a {
  color: var(--white);
}

/* Wrapper */
.wrapper {
  position: relative;
  height: 100vh;
}

.main-wrapper {
  width: 100%;
  max-height: 100vh;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Swiper */
.swiper-button-prev, .swiper-button-next {
  color: var(--white) !important;
}

/* Media */
@media screen and (min-width: 1600px) {
  .main-wrapper {
    display: flex;
    flex-direction: column;
    gap: 70px;
  }
}